.psliderContainer {
    display: grid;
    place-items: center;
}

.pslider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.pslide-track {
    display: flex;
    /* width: calc(250px * 18); */
    animation: scroll 40s linear infinite;
}

.pslide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.pslide {
    height: 150px;
    width: 420px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider-img {
    width: 100%;
    transition: transform 0.5s;
}

.slider-img:hover {
    transform: translateZ(20px);
}