.sliderContainer {
    display: grid;
}

.slider {
    height: min-content;
    position: relative;
    width: 100%;
    display: grid;
    overflow: hidden;
}

.slide-track {
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 6));
    }
}

.slide {
    height: auto;
    width: 320px;
    perspective: 100px;
}