@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@layer components {
  .align-elements {
    @apply max-w-[1700px] mx-auto px-5;
  }
  .divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

  html,
  body,
  #root {
    @apply h-full;
  }
  #root {
    @apply flex flex-col;
  }
  main {
    @apply grow;
  }
}